<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Cinnamon Power Timer</vendor>
  <vendor_url>https://github.com/irian-codes/cinnamon-power-timer</vendor_url>

  <action id="org.irian.CinnamonPowerTimer.schedule-power-action">
    <description>Schedule a Cinnamon Power Timer power action</description>
    <message>Authentication is required to schedule this power action.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.irian.CinnamonPowerTimer.cancel-power-action">
    <description>Cancel a Cinnamon Power Timer power action</description>
    <message>Authentication is required to cancel this scheduled power action.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
