[D-BUS Service]
Name=org.irian.CinnamonPowerTimer.Helper
Exec=/usr/lib/cinnamon-power-timer/cinnamon_power_timer_helper.py
User=root
SystemdService=cinnamon-power-timer-helper.service
